{%extends 'base.html'%}

{%block content%}
<head>
    <style>
     .h{
         margin-top: 2px;
         background-color: rgba(240, 240, 240); background-image: url(https://livewireindia.com/images/bg-sub-header.png);height: 120px;
         border-bottom: 0.5px solid rgb(220, 220, 220);
         box-shadow:inset 0px -2px 5px 3px rgb(0 0 0 / 20%);
    }

    </style>
</head>
    <!-- <h2 class="h">ABOUT US</h2> -->
    <!-- <div class="row" style="background-image: linear-gradient(rgba(128, 128, 128, 0.473),rgba(128, 128, 128, 0.473));height: 120px;">
        <p><h2>ABOUT US</h2><a href="http://127.0.0.1:8000/#" style="text-decoration: none;color: black;">Home</a>/About Us</p>
    </div> -->

   <!-- <div style="background-image: linear-gradient(rgba(128, 128, 128, 0.473),rgba(128, 128, 128, 0.473));height: 120px;">
    <div style="padding: 56px 0px;">AboutUs<div>
    <div  class="cc">
        <a href=""> Home</a>
      <span> /AboutUs</span></div>
   </div><br> -->
<body>
    <br><br>
    <div class="h">
        <h2 style="padding-left: 150px;padding-top: 35px;letter-spacing: 1px;float: left;">ABOUT US</h2>
        <div style="float: right;font-size: 16px;padding: 45px 155px;">
            <a href="http://127.0.0.1:8000/#" style="text-decoration: none;color: rgb(128, 128, 128);">Home</a>
            <span>&nbsp;/&nbsp;About Us</span>
        </div>
    </div><br>
    <div style="border-bottom: 3px solid red;"></div><br>
    <div style="width: 100%; height: 650px;">  
  
        <div style="width: 50%; height: 550px; float:left;">  
            <h4 style="color: rgb(44, 44, 165); margin-left:130px;">About Us</h4><br>
            <p style="font-size: 15px;margin-left: 130px;">LIVEWIRE – A Division of CADD Centre Training Services Pvt Ltd, is an approved Skill Development Partner of National Skill Development Corporation (NSDC). LIVEWIRE promotes a unique combination of technologies that are specific to IT, Computer science, Electronics & Electrical departments. We deal with Emerging technologies like Data science, Machine Learning, IoT, Artificial Intelligence, Blockchain, Full Stack Developer, Cyber security, Automotive Embedded system and many more. LIVEWIRE is present in more than 100 locations in India and over 7 countries.
            </p><br>
            <p style="font-size: 15px;margin-left: 130px;">LIVEWIRE credential includes its affiliation like NSDC, STED Council, MSME, ISO (9001:2015 & 29990:2010), NIELIT, AXELOS, Oracle, CompTIA, Blockchain Council etc. LIVEWIRE works closely with more than 1000 colleges in India as a technology partner in equipping students beyond their academics and also with few corporate clients for their training requirements.
            </p><br>
            <p style="font-size: 15px;margin-left: 130px;">The curricula are prepared with inputs from the product companies and industry experts. The training is offered by instructors who are trained by the Product developers and industry experts. Our training centre boast of high-end hardware and sophisticated technology labs that are modelled on real world R&D units of industries.
            </p>
        </div>  
  
        <div style="width:50%; height: 550px; float:left;">  
            <img style="margin-left:80px ; height: 550px; width: 400px;" src="https://livewireindia.com/images/loan.jpg">
        </div>  
    </div> <br><br>
    
</body>   
{%endblock%}