{%extends 'base.html'%}

{%block content%}
<head>
    <style>
     .h{
         margin-top: 2px;
         background-color: rgba(240, 240, 240, 0.753); background-image: url(https://livewireindia.com/images/bg-sub-header.png);height: 120px;
         border-bottom: 0.5px solid rgb(220, 220, 220);
         box-shadow:inset 0px -2px 5px 3px rgb(0 0 0 / 20%);
    }
    #r1{
      margin-left: 180px;
    }
    .img1{
      height: 180px;
      width: 270px;
      border-radius: 5px;
    }
    #bt{
      background-color: rgb(54, 54, 134);
      border-radius: 3px;
    }
    </style>
</head>
<body>
  <br><br>
    <div class="h">
        <h2 style="padding-left: 150px;padding-top: 35px;letter-spacing: 1px;float: left;">ALL COURSES</h2>
        <div style="float: right;font-size: 16px;padding: 45px 155px;">
            <a href="http://127.0.0.1:8000/#" style="text-decoration: none;color: rgb(128, 128, 128);">Home</a>
            <span>&nbsp;/&nbsp;All Courses</span>
        </div>
    </div><br><br>
    
    <div class="row" id="r1">
      <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
          <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/robotic-automation.jpg" alt="..."><br><br>
          <div class="caption">
            <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 25px;">Robotic&nbsp;Process<br>Automation</h4><br>
            <p style="font-size: 13px;padding-left: 50px;">DURATION&nbsp;:&nbsp;40&nbsp;HOURS</p>
            <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 60px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2" style="padding-left: 90px;">
        <div class="thumbnail">
          <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/mis.jpg" alt="..."><br><br>
          <div class="caption">
            <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 85px;">MIS&nbsp;Pro</h4><br>
            <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
            <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 70px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
            
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2" style="padding-left: 170px;">
        <div class="thumbnail">
          <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/artificial-intelligence.png" alt="..."><br><br>
          <div class="caption">
            <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 40px;">Artificial&nbsp;Intelligence</h4><br>
            <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
            <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 70px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2"  style="padding-left: 250px;">
        <div class="thumbnail">
          <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/blockchain.jpg" alt="..."><br><br>
          <div class="caption">
            <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 80px;">Blockchain</h4><br>
            <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;48&nbsp;HOURS</p>
            <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 70px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
          </div>
        </div>
      </div>

      
</div><br><br><br>


  <div class="row" id="r1">
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/adv-java.jpg" alt="..."><br><br>
        <div class="caption">
          <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 30px;">Advanced&nbsp;Java</h4><br>
          <p style="font-size: 13px;padding-left: 50px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
            <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 53px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2" style="padding-left: 90px;">
      <div class="thumbnail">
        <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/mean.jpg" alt="..." ><br><br>
        <div class="caption">
          <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 35px;">Full&nbsp;Stack&nbsp;Developer&nbsp;-<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MEAN&nbsp;Stack</h4><br>
          <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;120&nbsp;HOURS</p>
          <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2" style="padding-left: 170px;">
      <div class="thumbnail">
        <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/ethical.jpg" alt="..."><br><br>
        <div class="caption">
          <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 55px;">Ethical&nbsp;Hacking</h4><br>
          <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;68&nbsp;HOURS</p>
          <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 115px;font-size: 12px;">ITIM</a></p><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-2" style="padding-left: 245px;">
      <div class="thumbnail">
        <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/django.jpg" alt="..."><br><br>
        <div class="caption">
          <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 100px;">Django</h4><br>
          <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
          <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
        </div>
      </div>
    </div>
  </div><br><br><br>

<div class="row" id="r1">
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/machine-learning.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 50px;">Machine&nbsp;Learning</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;94&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 90px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/half-1.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 50px;">Cloud&nbsp;Computing</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 115px;font-size: 12px;">ITIM</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 170px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/mc.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 70px;">Microcontroller</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2"  style="padding-left: 250px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/square/iot.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 40px;">Internet&nbsp;of&nbsp;Things(IoT)</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;48&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
      </div>
    </div>
  </div>

  
</div><br><br><br>


<div class="row" id="r1">
<div class="col-sm-6 col-md-2">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/half-5.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 40px;">Data&nbsp;Science</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 90px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/datascience-python.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 45px;">Data&nbsp;Science&nbsp;Using<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 170px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/datascience-r.jpg" alt="..." ><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 45px;">Data&nbsp;Science&nbsp;Using&nbsp;R</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 65px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 245px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/half-6.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 70px;">PLC&nbsp;&&nbsp;SCADA</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">INDUSTRIAL&nbsp;AUTOMATION</a></p><br>
    </div>
  </div>
</div>
</div><br><br><br>

<div class="row" id="r1">
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/amc.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 25px;">Advanced&nbsp;Microcontroller</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 90px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/automative-embedded.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 45px;">Automotive&nbsp;Embedded<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;160&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">INDUSTRIAL&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 170px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/nw.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 35px;">Network&nbsp;Engineering-<br>&nbsp;Routing&nbsp;&&nbsp;Switching</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 120px;font-size: 12px;">ITIM</a></p><br>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2"  style="padding-left: 250px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/eh.png" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 35px;">Cybersecurity&nbsp;Ananlyst<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(CySA+)</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;56&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 120px;font-size: 12px;">ITIM</a></p><br>
      </div>
    </div>
  </div>

  
</div><br><br><br>


<div class="row" id="r1">
<div class="col-sm-6 col-md-2">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/half-4.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 50px;">OrCAD&nbsp;Capture</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;20&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 90px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/ae.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 45px;">AutoCAD&nbsp;Electrical</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 60px;font-size: 12px;">INDUSTRIAL&nbsp;AUTOMATION</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 170px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/ns.jpg" alt="..." ><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 55px;">Network&nbsp;Security</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;40&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 120px;font-size: 12px;">ITIM</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 245px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/half-3.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 60px;">C&nbsp;Programming</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;24&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
    </div>
  </div>
</div>
</div><br><br><br>

<div class="row" id="r1">
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/oe.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 60px;">OrCAD&nbsp;Editor</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;48&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 90px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/linux.png" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 40px;">LINUX&nbsp;System&nbsp;/&nbsp;Server<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administration</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 120px;font-size: 12px;">ITIM</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 170px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/c++.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 110px;">C++</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;40&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2"  style="padding-left: 250px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/ops.png" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 60px;">OrCAD&nbsp;PSpice</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;20&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>

  
</div><br><br><br>


<div class="row" id="r1">
<div class="col-sm-6 col-md-2">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/office.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 50px;">Office Automation</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 65px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 90px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/java.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 100px;">Java</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 170px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/epp.jpg" alt="..." ><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 30px;">Employability&nbsp;Proficiency<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Program</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;40&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 65px;font-size: 12px;">SPECIAL&nbsp;PROGRAMS</a></p><br>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-2" style="padding-left: 245px;">
  <div class="thumbnail">
    <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/matlab.jpg" alt="..."><br><br>
    <div class="caption">
      <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 40px;">MATLAB&nbsp;for&nbsp;Electricals</h4><br>
      <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
      <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
    </div>
  </div>
</div>
</div><br><br><br>

<div class="row" id="r1">
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/matlabe.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 25px;">MATLAB&nbsp;for&nbsp;Electronics</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;80&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 90px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/embededlinux.jpg" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 60px;">Embedded&nbsp;Linux</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;64&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 40px;font-size: 12px;">ELECTRONIC&nbsp;DESIGN&nbsp;AUTOMATION</a></p><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2" style="padding-left: 170px;">
    <div class="thumbnail">
      <img class="img1" src="https://www.livewireindia.com/images/content/portfolios/thumb/python.png" alt="..."><br><br>
      <div class="caption">
        <h4 align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;padding-left: 90px;">Python</h4><br>
        <p style="font-size: 13px;padding-left: 60px;">DURATION&nbsp;:&nbsp;40&nbsp;HOURS</p>
        <p><a href="http://127.0.0.1:8000/todos/service" style="text-decoration: none;color: grey;padding-left: 63px;font-size: 12px;">SOFTWARE&nbsp;DEVELOPMENT</a></p><br>
      </div>
    </div>
  </div>
</div><br><br>
    
</body>
{%endblock%}